@model Uri

<div class="alert alert-success">
    <div class="row">
        <div class="col-md-1">
            <img src="@Model.AbsoluteUri" alt="Small Image" title="Small Image" />
        </div>
        <div class="col-md-11">
            <h4>Small image Layout</h4>
        </div>
    </div>
</div>
