@model ImageViewModel
@addTagHelper "*, Microsoft.AspNet.Mvc.TagHelpers"
@addTagHelper "*, ImageTagHelperExample"
@{
    ViewData["Title"] = "Home Page";
}

<h2>Image Layout</h2>

<image-layout src="http://via.placeholder.com/50x50" />

<image-layout src="http://via.placeholder.com/700x50" />

<image-layout src="" />



